# niri-clip config example
# copy to ~/.config/niri-clip/config.toml

max_items = 750
preview_width = 100
min_store_length = 1
enable_image_preview = false
ignore_regex = "(?i)password|secret|token|otp"
pinned_on_top = true
history_file = "~/.cache/cliphist/db" # v0.1 兼容，v1.0 将用 ~/.cache/niri-clip/db.sqlite
